This is a markdown cell

* First
* Second
* Third

In [1]:
numbers = [2,4,8,10]

In [2]:
for number in numbers:
    print(number)

2
4
8
10

In [3]:
import pandas as pd

pd.DataFrame({"A": [1, 2, 3], "B": ["a", "b", "c"]})

   A  B
0  1  a
1  2  b
2  3  c

In [6]:
numbers = "not a number"

In [5]:
# This is a comment
# Run the cell above and then run the loop again

In [3]:
import pandas as pd
dvd = pd.read_parquet('data/dvd.parquet')
dvd.head()

   buy  coupon  purch  last  training
0  yes       5      2     5         1
1   no       5      2    33         0
2   no       4     11    11         1
3   no       3      5    25         1
4   no       1      1    15         1